<a href="https://colab.research.google.com/github/Shubhamjog7/campusx/blob/main/python/session_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
sal = float(input())

if sal >20:
  salary = sal-((0.1*sal)+(0.05*sal)+(0.03*sal)+(0.3*sal))
  print("Salary above 20 ",salary)
elif 10<sal<=20:
  salary = sal-((0.1*sal)+(0.05*sal)+(0.03*sal)+(0.2*sal))
  print("Salary 10-20 ",salary)
elif 5<sal<=10:
  salary = sal-((0.1*sal)+(0.05*sal)+(0.03*sal)+(0.1*sal))
  print("Salary 5-10 ",salary)
else:
  salary = sal-((0.1*sal)+(0.05*sal)+(0.03*sal)+(0*sal))
  print("Salary below 5 ",salary)

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
a = float(input())
b = float(input())
c = float(input())

if a+b+c == 180:
  print("Wooohooo!It's triangle")
else:
  print("It's not triangle")

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
sp = float(input())
cp = float(input())

if sp-cp>0:
  print("Profitable")
elif sp==cp:
  print("No profit No loss")
else:
  print("Loss")

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
n = int(input("Convert to "))
val = float(input("Insert value "))

if n == 1:
  value = val/30.48
  print("cm to ft",value)
elif  n == 2:
  value = val/1.609
  print("km to miles",value)
elif  n == 3:
  value = val*83
  print("USD to INR",value)
elif n ==4:
  print("exit")
else:
  print("error:incorrect input")

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
n = int(input("Number of terms"))
a = 0
b = 1

print(a, end=" ")
print(b, end=" ")

for i in range(0, n+1):

    b = i+b
    print(b, end=" ")

    pass

    0,1,1,2

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
num = 1
n =int(input())
for i in range(1,n+1):
  num = num * i
print(num)

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
n = int(input())
rev =0

while n > 0:  #123
  dig = n%10  #3,2,1

  rev = rev*10 + dig #3+,32+,321
  n = n//10 #12 , 1,0
print(rev)

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
n = int(input())

i = 1
sum = 0

while i<=n:
  if sum+i>300:
    break

  if i%5 == 0:
    i += 1
    continue

  sum += i

  i += 1
  # print(i)

print(sum)

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here