<a href="https://colab.research.google.com/github/Shubhamjog7/campusx/blob/main/python/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [54]:
print("Data","Science","Mentorship","Program",sep = "-",end ="-started-")
print("By","CampusX",sep = "-")

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [6]:
n=float(input("Add Celsius "))

f= (n*(9/5))+32
print("Fahrenheit is",f)

Add Celsius 32
Fahrenheit is 89.6

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [7]:
a=int(input("First Number before swap: "))
b=int(input("Second Number before swap: "))

c=a
a=b
b=c
print("First Number after swap: ",a)
print("Second Number after swap: ",b)

First Number before swap: 2
Second Number before swap: 3
First Number after swap:  3
Second Number after swap:  2

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [10]:
x = float(input())
y = float(input())
a = float(input())
b = float(input())

y=(((x-a)**2)+(y-b)**2)**(0.5)
print("distance between coordinates is: ",y)

-9
-5
6
7
distance between coordinates is:  19.209372712298546

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [11]:
p = float(input())
r = float(input())
t = float(input())

si = (p*r*t)/100

print("simple interest is: ",si)

500
6.5
8
simple interest is:  260.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [57]:
h = int(input())
l = int(input())

if l % 2 !=0 or h ==0 or h > l:
  print("invalid case")
else:
  chicken = (4*h-l)/2
  dogs = (h-chicken)
  print("total chicks: ",chicken)
  print("total dogs: ",dogs)

7
9
invalid case

8### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [37]:
n =int(input())
sum =0
for i in range(0,n+1):
    sum += i*i
print(sum)

3
14

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [41]:
ft = int(input("first term"))
st = int(input("second term"))
n  = int(input("number of terms"))

d = st - ft

nth = ft + (n-1)*d

print(nth)

first term2
second term4
number of terms3
6

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [47]:
n1 = int(input())
d1 = int(input())
n2 = int(input())
d2 = int(input())

if d1 == d2:
  cd = d1
  num_sum =(n1 + n2)
  print(num_sum, "/", cd)
else:
  cd = d1 * d2
  num_sum = n1 * d2 + n2 * d1
  print(num_sum, "/", cd)

2
3
4
5
22 / 15

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [50]:
H = int(input())
L = int(input())
B = int(input())

r = int(input())
h = int(input())

vol_t = H*L*B

vol_g = 3.14*(r*r)*h

no_of_glasses = vol_t/vol_g

print(round(no_of_glasses))

20
20
20
1
3
849